@import "~bootstrap/scss/bootstrap";


.edit{
    margin: 0 20px;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
}